# .NET specific
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
.vscode/
*.userprefs
.editorconfig
launchSettings.json

# SQLite database files
*.db-shm
*.db-wal

# Node.js specific
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp/
.pnp.js
.npmrc

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Temporary files
*.log
*.tmp
*.temp
.DS_Store
Thumbs.db
